<% provide :title, t("page.title.reset") %>
<div class="row page">
  <h1><%= t "page.title.reset" %></h1>
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
      <%= render "shared/error_messages" %>

      <%= hidden_field_tag :email, @user.email %>

      <%= f.label t("page.index.password") %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label t("page.index.confirm") %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <%= f.submit t("page.index.update"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
