<h1><%= t "page.title.reset" %></h1>
<p><%= t "page.pass_reset.text1" %></p>

<%= link_to t("page.title.reset"),
  edit_password_reset_url(id: @user.reset_token, email: @user.email) %>

<p><%= t "page.pass_reset.text2" %></p>

<p><%= t "page.pass_reset.text3" %></p>
