<% provide :title, t("page.title.signup") %>
<div class="row signup">
  <h1><%= t "page.title.signup" %></h1>
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user do |f| %>
      <%= render "shared/error_messages" %>
      
      <%= f.label t("page.signup.name") %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label t("page.signup.email") %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label t("page.signup.password") %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label t("page.signup.confirm") %>
      <%= f.password_field :password_confirmation, class: "form-control" %>

      <%= f.submit t("page.signup.create"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
