<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <p>
      <%= link_to_unless I18n.locale == :en, "English", locale: :en %> | 
      <%= link_to_unless I18n.locale == :vn, "VietNam", locale: :vn %>
    </p>
    <%= yield %>
  </body>
</html>
